@use 'sass:map';

@mixin fixed-width($size) {
  width: $size;
  min-width: $size;
  max-width: $size;
}

@mixin fixed-height($size) {
  height: $size;
  min-height: $size;
  max-height: $size;
}

$themes: 'light', 'dark';

/* prettier-ignore */
$text-color: ('light': black, 'dark': white);

/* prettier-ignore */
$bar-color: ('light': lightgray, 'dark': #202060);
/* prettier-ignore */
$hover-color: ('light': #c8c8c8, 'dark': #24246c);
/* prettier-ignore */
$active-color: ('light': #b0b0b0, 'dark': #2c2c84);
/* prettier-ignore */
$border-color: ('light': gray, 'dark': #303090);

/* prettier-ignore */
$button-color: ('light': #e9e9ed, 'dark': #303070);
/* prettier-ignore */
$button-border: ('light': #8f8f9d, 'dark': #6060e0);
/* prettier-ignore */
$button-hover-color: ('light': #d0d0d7, 'dark': #4848a8);
/* prettier-ignore */
$button-hover-border: ('light': #676774, 'dark': #6060e0);
/* prettier-ignore */
$button-active-color: ('light': #b1b1b9, 'dark': #20204a);
/* prettier-ignore */
$button-active-border: ('light': #484851, 'dark': #404094);
/* prettier-ignore */
$button-disabled-color: ('light': #f4f4f6, 'dark': #282868);
/* prettier-ignore */
$button-disabled-border: ('light': #c7c7ce, 'dark': #4040a0);
/* prettier-ignore */
$button-disabled-text: ('light': #00000080, 'dark': #ffffff80);

/* prettier-ignore */
$text-input-color: ('light': white, 'dark': #003);
/* prettier-ignore */
$text-input-border: ('light': #8f8f9d, 'dark': #6060e0);

$text-size: 10pt;

@mixin button-color($theme) {
  background-color: map.get($bar-color, $theme);
  &:hover {
    background-color: map.get($hover-color, $theme);
  }
}
